flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
# Flutter / Dart
.dart_tool/
.packages
build/

# Android
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS / macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IDE
.vscode/
