# Flutter/Dart
.dart_tool/
.buildlog/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/

# Android
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/

# Linux
**/linux/flutter/generated_plugin_registrant.*

# Windows
**/windows/flutter/generated_plugin_registrant.*

# VS Code & IDE
.vscode/
.idea/
*.iml

# Others
pubspec.lock
